<h1><%= card.get('title') %></h1>
<h2><%= card.get('description') %></h2>
<button class="delete-card">delete</button>
<button class="dismiss-modal">dismiss</button>

<ul class="card-items"></ul>

<div class="new-item-form"></div>
