html, body, header, div, button, input, img, span, h1, h2, ul, li, a {
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
}
