html, body, header, div, button, input, img, span {
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  background: transparent;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
}
